# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db
Desktop.ini

# ==========================================
# IntelliJ
# ==========================================
.idea/
*.iml

# ==========================================
# VSCode
# ==========================================
.vscode/

# ==========================================
# Eclipse
# ==========================================
.classpath
.project
.settings/

# ==========================================
# Backend (Spring Boot + Gradle)
# ==========================================
backend/.gradle/
backend/build/
.reloadtrigger
/src/main/resources/application.yaml

# 로그
backend/logs/
*.log

# JVM Crash
hs_err_pid*
replay_pid*

# ==========================================
# Frontend (React + Vite)
# ==========================================
node_modules/
dist/

# 테스트
coverage/

# 캐시
.vite/
.cache/

# ==========================================
# Environment
# ==========================================
.env
.env.*
!.env.example

frontend/.env
frontend/.env.*
!frontend/.env.example

# Spring Local 설정
application-local.yml
application-local.yaml
application-local.properties

application-dev.yml
application-dev.yaml
application-dev.properties

application-prod.yml
application-prod.yaml
application-prod.properties

# ==========================================
# Security
# ==========================================
*.pem
*.key
*.jks
*.p12
*.keystore

# ==========================================
# Docker
# ==========================================
docker-compose.override.yml
docker-compose.local.yml

/npm
application.yaml

.codex-pdf-tools/
frontend/src/pages.zip
backend/src/main/resources/application (1).yaml
/backend/src/test/http/

docker-compose.local.yml
application-local.yml
application-local.yaml
